@inject ElementFormatter _jsTextFormatter

<div class="bd-callout container">
    <div class="preview">
        <div class="preview-bounds" style="min-width: @(MaxPreviewWidth)px;">
            @((MarkupString)CreateSvg())
        </div>
    </div>
    <div class="content">
        @if (Metadata != null)
        {
            <h5>@{
                for(int i = 0; i < Metadata.Keys.Length; i++)
                {
                    if (i > 0)
                        @(", ")
                    @Metadata.Keys[i]<small class="text-muted">name</small>
                }
                }
            </h5>
            <p>@(Metadata.Description)</p>
        }
        <HelpAccordion>
            <HelpAccordionItem Title="Pins" Count="_drawable.Pins.Count">
                <dl>
                @foreach (var pin in _drawable.Pins)
                {
                    <dt><strong>@(string.Join(", ", _drawable.Pins.NamesOf(pin)))</strong></dt>
                    <dd>@(pin.Description)</dd>
                }
                </dl>
            </HelpAccordionItem>
            <HelpAccordionItem Title="Properties" Count="Properties.Count">
                <dl>
                @foreach (var property in Properties)
                {
                    <dt><strong>@(property.Item1.Name)</strong></dt>
                    <dd>@(property.Item2)</dd>
                }
                </dl>
            </HelpAccordionItem>
            <HelpAccordionItem Title="Variants" Count="Variants.Count">
                <p>
                @foreach (var variant in Variants.OrderBy(n => n.Key))
                {
                    <a href="javascript:void(0);" class="btn @(variant.Value ? "shown" : "")" @onclick="x => ToggleVariant(variant.Key)">@variant.Key</a>
                }
                </p>
            </HelpAccordionItem>
        </HelpAccordion>
    </div>
</div>