<div class="bd-callout container">
    <div class="preview">
        <div class="preview-bounds" style="min-width: @(MaxPreviewWidth)px;">
            @((MarkupString)CreateSvg())
        </div>
    </div>
    <div class="content">
        <h5>@(Description.Key)<small class="text-muted">name</small></h5>
        <p>@(Description.Name)</p>
        <HelpAccordion>
            <HelpAccordionItem Title="Pins" Count="Component.Pins.Count">
                <dl>
                @foreach (var pin in Component.Pins)
                {
                    <dt><strong>@(string.Join(", ", Component.Pins.NamesOf(pin)))</strong></dt>
                    <dd>@(pin.Description)</dd>
                }
                </dl>
            </HelpAccordionItem>
            <HelpAccordionItem Title="Properties" Count="Properties.Count">
                <dl>
                @foreach (var property in Properties)
                {
                    <dt><strong>@(property.Item1.Name)</strong></dt>
                    <dd>@(property.Item2)</dd>
                }
                </dl>
            </HelpAccordionItem>
            <HelpAccordionItem Title="Variants" Count="Variants.Count">
                <p>
                @foreach (var variant in Variants.OrderBy(n => n.Key))
                {
                    <a href="javascript:void(0);" class="btn @(variant.Value ? "shown" : "")" @onclick="x => ToggleVariant(variant.Key)">@variant.Key</a>
                }
                </p>
            </HelpAccordionItem>
        </HelpAccordion>
    </div>
</div>