@inject TextFormatter _jsTextFormatter

<div class="bd-callout container">
    <div class="preview">
        <div class="preview-bounds" style="min-width: @(MaxPreviewWidth)px;">
            @(_svg)
        </div>
    </div>
    <div class="content">
        @if (Metadata != null)
        {
            <h5>@Metadata.Key<small class="text-muted">name</small></h5>
            <p>@(Metadata.Description)</p>
        }
        @if (Drawable != null)
        {
            <HelpAccordion>
                <HelpAccordionItem Title="Pins" Count="Drawable.Pins.Count">
                    <dl>
                        @foreach (var pin in Drawable.Pins)
                        {
                            <dt><strong>@(string.Join(", ", Drawable.Pins.NamesOf(pin)))</strong></dt>
                            <dd>@(pin.Description)</dd>
                        }
                    </dl>
                </HelpAccordionItem>
                <HelpAccordionItem Title="Properties" Count="Properties.Count">
                    <dl>
                        @foreach (var property in Properties)
                        {
                            <dt><strong>@(property.Item1.Name)</strong></dt>
                            <dd>@(property.Item2)</dd>
                        }
                    </dl>
                </HelpAccordionItem>
                <HelpAccordionItem Title="Variants" Count="Drawable.Variants.BranchCount">
                    <p>
                        @foreach (var variant in Drawable.Variants)
                        {
                            <a href="javascript:void(0);" class="shown" @onclick="x => ToggleVariant(variant)">@variant</a>
                        }
                        <br />
                        @foreach (var variant in Drawable.Variants.Branches)
                        {
                            <a href="javascript:void(0);" @onclick="x => ToggleVariant(variant)">@variant</a>
                        }
                    </p>
            </HelpAccordionItem>
        </HelpAccordion>
        }
    </div>
</div>