@page "/"
@inject IJSRuntime _js
@inject ElementFormatter _jsTextFormatter
@inject Blazored.LocalStorage.ILocalStorageService _localStore

<div class="split-screen">
    <div class="sidebar">
        <TabMenu>
            <Tab Title="Script">
                <div class="arrow-mode@(_arrowMode ? " active" : "")">&#10541;</div>
                <MonacoEditor @ref="_scriptEditor" Id="script-editor" CssClass="full-height" OnDidChangeModelContent="Update" ConstructionOptions="GetStyleOptions" OnKeyUp="KeyUp" />
            </Tab>
            <Tab Title="Style">
                <div class="full-width">
                    <a href="javascript:void(0);" class="btn" @onclick="@(x => _styleEditor.SetValue(GraphicalCircuit.DefaultStyle))">Restore default style</a>
                </div>
                <MonacoEditor @ref="_styleEditor" Id="style-editor" CssClass="full-height" OnDidChangeModelContent="Update" ConstructionOptions="GetStyleOptions" />
            </Tab>
            <Tab Title="Help">
                <div class="help">
                    <Expandable Title="Documentation" Class="mt-2">
                        <a href="https://github.com/svenboulanger/SimpleCircuit" target="_blank" class="bd-callout d-block">Project website</a>
                        <a href="https://github.com/svenboulanger/SimpleCircuit/wiki" target="_blank" class="bd-callout d-block">Wiki</a>
                    </Expandable>
                    <Expandable Title="Demo's" Class="mt-2">
                        <DemoList DemoSelected="@(x => SetCurrentScript(x))" />
                    </Expandable>
                    <Expandable Title="Global options" Class="mt-2">
                        <GlobalOptionList Editor="_scriptEditor" />
                    </Expandable>
                    <Expandable Title="Components" Class="mt-2">
                        <ComponentList />
                    </Expandable>
                </div>
            </Tab>
        </TabMenu>
    </div>
    <div class="output">
        <DropZone Upload="@UploadFile" Download="@DownloadFile" @bind-Filename="CurrentFilename" @bind-ShrinkX="_shrinkX" @bind-ShrinkY="_shrinkY" @bind-Bounds="_renderBounds">
            <SvgOutput Svg="@_svg" Loading="_loading" ShrinkX="_shrinkX" ShrinkY="_shrinkY" />
        </DropZone>
        <Errors Error="@_errors" Warning="@_warnings" />
    </div>
</div>